<?xml version="1.0" encoding="UTF-8"?>
 
<suite name="AutomationExerciseSuite" verbose="4">


	<test name="Homepage Tests">
		<classes>
			<class name="com.qa.automationexercise.tests.HomepageTest" />
		</classes>
	</test>


	<test name="Login Page Tests">
		<classes>
			<class name="com.qa.automationexercise.tests.LoginPageTest" />
		</classes>
	</test>


	<test name="SignUp Page Tests">
		<classes>
			<class name="com.qa.automationexercise.tests.SignUpPageTest" />
		</classes>
	</test>

</suite>